//====================================================================================================
.title {
    color: #1F2041;
    font-weight: 900;
    &_size_xl {
        font-size: 24px;
    }

    &_size_l {
        font-size: 19px;
    }

    &_size_s {
        font-size: 12px;
    }
}
.text {
    font-size: 14px;
    color: #1F2041;
}
//====================================================================================================
